@font-face {
    font-family: PP;
    src: url(./ppmori-regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-family: PP;
    overflow-x: hidden;
}

main {
    background-color: #0f0d0d;
    color: white;
    cursor: none;
}

.cursor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #edbfff;
    z-index: 8;
    background-position: center;
    background-size: cover;
    mix-blend-mode: difference;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#page-1 {
    min-height: 100vh;
    width: 100vw;
    background-color: #0f0d0d;
    padding-top: 12vw;
}

nav {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 40;
    color: #fff;
}

nav h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

nav img {
    height: 30px;
}

#nav-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 35px;
    cursor: pointer;
}

nav #circle {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
}

#nav-part2 h4:nth-child(1) {
    border-bottom: 1px solid #fff;
}

#purple {
    height: 100%;
    width: 100%;
    background-color: #da8ef8f6;
    position: fixed;
    top: 0;
    z-index: 30;
    display: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
}

#page-1>h1 {
    font-size: 7vw;
    font-weight: 300;
    margin-left: 10vw;
    letter-spacing: -5px;
}

#page-1>h2 {
    font-size: 7vw;
    font-weight: 300;
    margin-top: 1vw;
    margin-left: 35vw;
    letter-spacing: -6px;
}

#v-container {
    width: 70%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

#v-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 5px;
}

#page-1 video {
    width: 100%;
    margin-top: 0.5vw;
}

#page-2 {
    min-height: 100vh;
    width: 100vw;
    padding: 7vw;
    border-bottom: 1px solid #111;
}

#page-2 h1 {
    font-size: 4.5vw;
    font-weight: 500;
}

#page-2c {
    height: 60vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw;
}

.page-2l {
    width: 30%;
}

.page-2r {
    width: 35%;
}

.page-2l h2 {
    font-size: 3vw;
    font-weight: 300;
    line-height: 2.7vw;
}

.page-2r p {
    font-size: 23px;
}

.page-2r button {
    width: 200px;
    padding: 12px 24px;
    background-color: #111;
    color: #fff;
    border: 1px solid #111;
    border-radius: 30px;
    margin: 40px auto;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

#page-3 {
    min-height: 100vh;
    width: 100vw;
    padding: 7vw;
    position: relative;
    padding-top: 100px;
}

#page-3 h1 {
    font-size: 4.5vw;
    font-weight: 500;
    margin-left: 100px;
}

.page-3-part1,
.page-3-part2 {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.page-3-part1 img {
    height: 520px;
    margin-top: 160px;
}

.page-3-part2 img {
    margin-top: 150px;
}

.page-3-part2 video {
    height: 450px;
    margin-top: 240px;
}

#page-3 p {
    font-size: 18px;
    margin-top: 10px;
}

#page-3 p span {
    font-size: 20px;
    margin-right: 5px;
    font-weight: 600;
}

#page-4 {
    min-height: 100vh;
    width: 100vw;
    padding: 100px;
    position: relative;
    border-bottom: 1px solid;
}

#page-4 p {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 25px auto;
    text-transform: uppercase;
}

.elem {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    cursor: pointer;
}

.text-div {
    height: 125px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    width: 100%;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.elem:hover .text-div {
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
}

.elem h1 {
    font-size: 6vw;
    font-weight: 500;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    position: relative;
    text-align: center;
}

.elem img {
    position: absolute;
    opacity: 0;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    -webkit-transform: translateY(10%) rotate(2deg);
        -ms-transform: translateY(10%) rotate(2deg);
            transform: translateY(10%) rotate(2deg);
    height: 240px;
    width: 360px;
    -o-object-fit: cover;
       object-fit: cover;
    pointer-events: none;
    z-index: 5;
}

.elem img:nth-child(1) {
    left: 5%;
}

.elem img:nth-child(3) {
    right: 5%;
}

.elem:hover .text-div h1:first-child {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    color: #da8ef8;
}

.elem:hover .text-div h1:last-child {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    color: #da8ef8;
}

.elem:hover img {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(0deg);
        -ms-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
}

#page-5 {
    min-height: 130vh;
    width: 100vw;
    padding: 0 100px;
    padding-top: 170px;
    position: relative;
}

#page-5 h1 {
    font-size: 4.5vw;
    font-weight: 500;
    margin-left: 100px;
    margin-bottom: 50px;
}

#page-5 h1 span {
    color: #da8ef8;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90px;
    padding: 0 20px;
    border-top: 1px solid #dadada;
}

.box:nth-last-child(1) {
    border-bottom: 1px solid #dadada;
}

.box h3 {
    font-size: 20px;
    font-weight: 500;
}

.box h4 {
    opacity: 0.5;
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

#purple .marquee {
    font-family: PP;
    position: fixed;
    top: 50%;
    width: 100%;
    color: #000;
    font-weight: 400;
    font-size: 10rem;
    white-space: nowrap;
    -webkit-animation: marquee 15s linear infinite;
            animation: marquee 15s linear infinite;
}

@media (max-width: 660px) {
    .cursor {
        display: none;
    }

    main {
        cursor: auto;
    }

    nav {
        padding: 0 20px;
    }

    nav img {
        height: 25px;
    }

    #nav-part2 {
        display: none;
    }

    #page-1{
        padding-top: 50vw;
    }

    #page-1>h1 {
        font-size: 10vw;
        letter-spacing: -2px;
        margin-left: 30vw;
    }

    #page-1>h2 {
        font-size: 10vw;
        letter-spacing: -2px;
        margin-top: 2vw;
        margin-left: -10vw;
    }

    #v-container {
        margin-top: 30vw;
        width: 90%;
    }

    #v-title {
        font-size: 10px;
    }

    #page-2 {
        padding: 5vw;
        min-height: 70vh;
    }

    #page-2 h1 {
        font-size: 7vw;
        margin-bottom: 15vw;
    }

    #page-2c {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }

    .page-2l, .page-2r {
        width: 100%;
    }

    .page-2l h2 {
        font-size: 6vw;
        line-height: 1.2;
    }

    .page-2r p {
        font-size: 18px;
    }

    #page-3 {
        padding: 5vw;
        padding-top: 80px;
        width: 100%;
    }

    #page-3 h1 {
        font-size: 7vw;
        margin-left: 20px;
    }

    .page-3-part1, .page-3-part2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .page-3-part1 img, .page-3-part2 img, .page-3-part2 video {
        height: auto;
        width: 100%;
        margin-top: 30px;
    }

    .page-3-part1 video {
        margin-top: 20px;
        width: 100%;
    }

    #page-3 p {
        font-size: 15px;
    }
    
    #page-3 p span {
        font-size: 17px;
    }


    #page-4 {
        padding: 0 20px;
        padding-top: 120px;
        min-height: 80vh;
    }

    .elem img {
        display: none;
    }

    .text-div {
        height: 50px;
        margin-top: 10px;
    }

    .elem h1 {
        font-size: 13vw;
    }

    #page-5 {
        padding: 0 10px;
        padding-top: 120px;
        min-height: 80vh;
    }

    #page-5 h1 {
        font-size: 7vw;
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .box {
        height: 70px;
        padding: 0 15px;
    }

    .box h3 {
        font-size: 16px;
    }

    .box h4 {
        font-size: 14px;
    }

}